body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;

}

.sidebar{
    background-color: black;
    width: 21.25rem;
    border-radius: 1rem; 
    /* margin-right: 0.5rem; */
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;  
    overflow: auto; 
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed; 
    bottom: 0;
    width: 100%;
    height: 4rem;

}

a{
    text-decoration: none; 
    color: white;
}
.nav{
    background-color: #121212; 
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 6.25rem; 
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
}
.nav-option{ 
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.7rem;
}  

.nav-option:hover{ 
    opacity: 1;
}  

.nav-option a {
    font-size: 1rem; 
    margin: 1rem;
}


/* Library Stylling  */ 

.library{
    background-color: #121212; 
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem 0.80rem;
}  

.option{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row;  */

}

.lib-option img{ 
    height: 1.25rem;
    width: 1.25rem;

}

.lib-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.7rem;

}

.lib-option:hover{ 
    opacity: 1;
}  

.lib-option a {
    font-size: 1rem; 
    margin: 1rem;
} 

.icons{
    display: flex;
    font-size: 1.25rem;
    opacity: 0.7;
    margin-right: 1rem;

}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
     opacity: 1;
}

/* Library Bos Section  */ 

.box{
    height: 9rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.box-p2{
    font-size: 0.75rem; 
    opacity: 0.9;
} 

.badge{
    background-color: white; 
    border: none;
    border-radius: 6.25rem; 
    padding: 0.25rem 1rem; 
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge{
    background-color: #000;
    color: white;
}

/* Main Content  */ 

.sticky-nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #121212;
    align-items: center; 
    padding-top: 1rem 0 1rem 0 ;
    z-index: 10;
}

.sticky-nav-icons .icons { 
margin-left: 0.75rem;
} 

.sticky-nav-options {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1rem;

}

@media(max-width: 1000px) {
    .hide{
        display: none;
    }

} 

/* cards stylling  */ 

.card { 

    background-color: #212121; 
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem; 
    margin-top: 1rem; 
    margin-top: 1rem;
}  

.cards-container { 
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%; 
    border-radius: 0.5rem; 
}

.card-title {
    font-weight: 700;
}

.card-info {
    font-size: 0.85rem; 
    opacity: 0.5;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white; 
    opacity: 0.4;
}

/* Music Player  */ 

.music-player{
    display: flex;
    justify-content: space-between;
}

.album {
    width: 25%; 
}

.image-logo{
    display: flex;
    justify-content:left;
    align-items: center; 
    margin-top: 1rem;
    margin-left: 1rem;
}

.img{
    border-radius: 10px;
}
h5{
    margin-left: 0.5rem; 
}

.emoji{
    display: flex;
    justify-content:left;
    align-items: center; 
} 
.album-icon{
height: 1rem;
}

.player{
    width: 50%;
    /* background-color: orange; */
} 

.controll{
    width: 25%;
} 

.player-controls{
    display: flex;
    justify-content:center;
    align-items: center; 
    margin-top: 1rem;

}

.player-control-icon{
    height: 1rem; 
    margin-right: 1.75rem;
    opacity: 0.7;      
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}


.progress-bar{
    width: 40%; 
    background-color: transparent;
    cursor: pointer;
} 

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    /* background-color: #1bd760; */
    border-radius: 100px; 
    height: 0.2rem;
}


.progress-bar::-webkit-slider-thumb{
    background-color: #1bd760; 
    appearance: none;
    height: 1rem;
    width: 1rem;

    border-radius: 50%; 
    margin-top: -6px;
}

/* ver */
    /* For Chrome, Safari, and Opera */
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background: #1bd760;
            cursor: pointer;
            border-radius: 50%;
        }

        /* For Firefox */
        input[type="range"]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background: #1bd760;
            cursor: pointer;
            border-radius: 50%;
        }

        /* General slider styles */
        input[type="range"] {
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            background: #ddd;
            outline: none;
        }

        /* Styling the slider track */
        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            background: #ddd;
        }

        input[type="range"]::-moz-range-track {
            width: 100%;
            height: 5px;
            background: #ddd;
        }


        /* ver */